In [21]:
import pandas as pd
import numpy as np

In [22]:
import warnings
warnings.filterwarnings('ignore')

In [23]:
df=pd.read_csv("sales_data.csv")
df.head()

,Order ID,Product,Category,Quantity Ordered,Price Each,Order Date,Purchase Address
0,1001,Wool Socks,Clothing,4.0,7.99,2025-03-16 03:15:41,"272 Rose Estate, Manuelport, MA 71245"
1,1002,USB-C Charging Cable,Electronics,NaN,11.95,2025-02-28 23:42:18,"Unit 7492 Box 5217, DPO AA 02232"
2,1003,Flatscreen TV,Electronics,4.0,300.00,2025-04-08 11:32:04,"99154 Sampson Common Suite 309, Ryanburgh, WV ..."
3,1004,Wool Socks,Clothing,5.0,7.99,2025-03-22 02:34:00,"5679 Vincent Branch Suite 910, Lake Christophe..."
4,1005,USB-C Charging Cable,Electronics,1.0,11.95,2025-04-16 18:20:15,"111 Park Walk, Joshuaberg, VA 51207"

In [24]:
df.describe()

          Order ID  Quantity Ordered   Price Each
count  1000.000000        837.000000  1000.000000
mean   1500.500000          3.087216   157.820850
std     288.819436          1.417016   280.682214
min    1001.000000          1.000000     5.490000
25%    1250.750000          2.000000    11.950000
50%    1500.500000          3.000000    49.990000
75%    1750.250000          4.000000    99.990000
max    2000.000000          5.000000   999.990000

In [25]:
df.isnull()

,Order ID,Product,Category,Quantity Ordered,Price Each,Order Date,Purchase Address
0,False,False,False,False,False,False,False
1,False,False,False,True,False,False,False
2,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...
995,False,False,False,False,False,False,False
996,False,False,False,False,False,False,False
997,False,False,False,False,False,False,False
998,False,False,False,False,False,False,False
999,False,False,False,False,False,False,False

In [26]:
df.isnull().sum()

Order ID              0
Product              12
Category              0
Quantity Ordered    163
Price Each            0
Order Date            0
Purchase Address     17
dtype: int64

In [27]:
df["Product"].fillna(method='ffill',inplace=True)

In [28]:
df['Quantity Ordered'].fillna(df['Quantity Ordered'].mean(),inplace=True)

In [29]:
df['Purchase Address'].fillna('unknown',inplace=True)

In [30]:
df.isnull().sum()

Order ID            0
Product             0
Category            0
Quantity Ordered    0
Price Each          0
Order Date          0
Purchase Address    0
dtype: int64

In [32]:
df.dtypes

Order ID              int64
Product              object
Category             object
Quantity Ordered    float64
Price Each          float64
Order Date           object
Purchase Address     object
dtype: object

In [33]:
df['Quantity Ordered']=df['Quantity Ordered'].astype(int)
df.dtypes

Order ID              int64
Product              object
Category             object
Quantity Ordered      int64
Price Each          float64
Order Date           object
Purchase Address     object
dtype: object

In [34]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

df['Category']=le.fit_transform(df['Category'])

In [36]:
df['Category'].unique()

array([0, 1, 2])